# 필수 기본 패키지
numpy>=1.24.0
pandas>=2.0.0
opencv-python-headless>=4.7.0
matplotlib>=3.7.0
scipy>=1.11.0
Pillow>=10.0.0
scikit-learn>=1.3.0
tqdm>=4.66.0
pyyaml>=6.0

# YOLOv8 (Ultralytics)
ultralytics>=8.0.0

# Streamlit
streamlit>=1.25.0

# 파일 관리 & 경로 관련
pathlib>=1.0.1

# Google Drive 다운로드
gdown>=4.9.6
